.good {
    background-color: #009966;
}

.moderate {
    background-color: #ffde33;
}

.sensitive {
    background-color: #ff9933;
}

.bad {
    background-color: #cc0033;
}

.verybad {
    background-color: #660099;
}

.danger {
    background-color: #7e0023;
}


@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Pacifico&display=swap');
:root {
    --purple-transparent-alt: rgba(53, 10, 79, .5);
    --yellow-solid: #08b9ff;
    --purple-light: #7bff00;
    --gradient-color: linear-gradient(to bottom, var(--yellow-solid), var(--purple-light));
}

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #1c92d2, #f2fcfe);
}

.app-container {
    height: auto;
    background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);
    padding-bottom: 40px;
}

.header {
    text-align: center;
    padding: 5px;
}

.header h1 {
    margin-top: 20px;
    font-size: 30px;
    color: #fff;
    font-family: 'Pacifico', cursive;
    font-weight: 500;
}

.input-group .search-bar {
    text-align: center;
    margin: 20px auto;
    padding: 0;
    width: 500px;
    align-items: center;
    cursor: pointer;
}

.input-group .search-box {
    background: #fff;
    width: 320px;
    height: 30px;
    border: none;
    outline: none;
    padding: 0 25px;
    border-radius: 25px;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
}

.input-group .search-button {
    border-radius: 25px;
    height: 30px;
    width: 120px;
    border: none;
    outline: none;
    padding: 0 25px;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
}

.main-result {
    max-width: 700px;
    margin: auto;
    justify-content: space-between;
    letter-spacing: 2px;
}

.main-result h2{
    text-align: center;
    margin-top: 20px;
    font-size: 40px;
    color: #fff;
    font-weight: 500;
}

.main-result .title {
    font-family: 'Open Sans', sans-serif;
    text-transform: capitalize;
    color: #fff;
    font-size: 40px;
}

.main-report .report {
    display: inline-flex;
    background-color: rgba(255, 255, 255, 0.2);
    width: auto;
    text-align: center;
    text-transform: capitalize;
    padding: 5px;
    margin: 0;
    border-radius: 20px;
    height: 130px;
}

.main-result .info {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 15px;
    margin-top: 15px;
}

.main-result .main-report #aqi-text {
    padding: 20px;
    font-size: 30px;
    color: white;
    text-align: center;
}

.main-report {
    text-align: center;
    
    
}

.main-report .aqi {

    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 80px;
    margin-left: auto;
}

.aqi#aqi-text{
    width: 50%;
}



.main-result .main-table {
    background-color: #40dd602b;
    background-color: rgba(255, 255, 255, 0.1);
    margin-top: 10px;
}

.main-result .main-table table tr td {
    width: 50%;
    margin: 0;
    padding: 10px;
    color: black;
}

.index-table {
    text-align: center;
    margin: auto;
    max-width: 900px;
}